# To do

2. write a function to get the roster of a given team in a given season 
   - 2a Write a function to get individual team pers and games palyers of team TOT 

3. partition data for predictions:
    - what are we considering? we can make a model that has an input for:
        - x number of historical head to head matchups  
        - team roster pers 
        - injury data 
        - regular season info 
    
        
4. Decide test train partitions:
    - previous 2 seasons for next season based on literature 
    
4. test model architerctures 

5. Decide on best model architecture 

5. test Hyerparameters 

6. Report 

<!-- further work  -->
<!-- per predictor based on college stats found on each players basketball reference  -->

In [95]:
ls()

['data merging.ipynb',
 '[2019, 2020].parquet.gzip',
 'Luca Vildoza Stats, Height, Weight, Position, Draft Status and more _ Basketball-Reference.com_files',
 'Untitled1.ipynb',
 '.DS_Store',
 'scrape_data_15-16.py',
 'PER_table_error.parquet.gzip',
 'IST_NBA_data_gen.ipynb',
 'year_team_link.csv',
 'Untitled.ipynb',
 '[2019, 2020]_error.parquet.gzip',
 '[2015, 2016]_game_stats_error.parquet.gzip',
 'players_v_vildolu01.csv',
 '[2021, 2022].parquet.gzip',
 'season_rosters.csv',
 'final_6.parquet.gzip',
 '[2017, 2018].parquet.gzip',
 'player_info_per.parquet.gzip',
 'df.pickle',
 'PER_table.parquet.gzip',
 'seasons_per_s.csv',
 'yearly_rosters.csv',
 '[2015, 2016]_game_stats.parquet.gzip',
 'missing_players.parquet.gzip',
 '.ipynb_checkpoints',
 '[2019, 2020]_game_stats.parquet.gzip',
 'scrape_data.py',
 'PER_table_error.parquet_files',
 '[2021, 2022]_error.parquet.gzip',
 '[2017, 2018]_game_stats.parquet.gzip',
 '[2015, 2016].parquet.gzip',
 '[2021, 2022]_game_stats.parquet.gzip']

In [3]:
import pandas as pd 
import numpy as np 
from os import listdir as ls

In [88]:
v1 = pd.read_parquet('[2015, 2016]_game_stats.parquet.gzip')
v2 = pd.read_parquet('[2017, 2018]_game_stats.parquet.gzip')
v3 = pd.read_parquet('[2019, 2020]_game_stats.parquet.gzip')
v4 = pd.read_parquet('[2021, 2022]_game_stats.parquet.gzip')

season_reg = pd.concat([v1, v2, v3, v4], axis = 0)

# Player Pers

In [89]:
players_teams=pd.read_csv('seasons_per_s.csv')
print(players_teams['team_id'].unique(), len(players_teams['team_id'].unique()))
# what is TOT

['GSW' 'PHO' 'DAL' 'TOT' 'SAC' 'CLE' 'LAL' 'ATL' 'CHI' 'NYK' 'MEM' 'IND'
 'MIA' 'BOS' 'SAS' 'PHI' 'MIN' 'LAC' 'ORL' 'DET' 'BRK' 'MIL' 'NOP' 'CHO'
 'HOU' 'WAS' 'DEN' 'UTA' 'TOR' 'POR' 'OKC'] 31

In [90]:
# TOT means a players played on multiple teams 
players_teams[players_teams['team_id']=='TOT']

       season team_id                 player_dir   per
7     2018-19     TOT  /players/b/barneha02.html  12.8
15    2016-17     TOT  /players/b/bogutan01.html   9.3
28    2015-16     TOT  /players/h/holidju01.html   9.4
33    2018-19     TOT  /players/h/holidju01.html  10.0
38    2021-22     TOT  /players/h/holidju01.html   9.5
...       ...     ...                        ...   ...
5036  2021-22     TOT    /players/k/keybr01.html  13.7
5054  2021-22     TOT  /players/b/brownch05.html   6.4
5058  2021-22     TOT   /players/h/hillma01.html  12.7
5077  2021-22     TOT  /players/j/johnske07.html   8.7
5085  2021-22     TOT  /players/m/mccluma01.html   5.2

[556 rows x 4 columns]

In [91]:
barneha02 = players_teams[players_teams['player_dir']=='/players/b/barneha02.html'] 
barneha02[barneha02['season']=='2018-19']

    season team_id                 player_dir   per
7  2018-19     TOT  /players/b/barneha02.html  12.8
8  2018-19     DAL  /players/b/barneha02.html  13.1
9  2018-19     SAC  /players/b/barneha02.html  12.3

In [93]:
#since we have individual team stats WE NEED TO FIGURE OUT WHO PLAYED WHERE AND WHEN 
multi_team_players = players_teams[players_teams['team_id']=='TOT'] 
multi_team_players

       season team_id                 player_dir   per
7     2018-19     TOT  /players/b/barneha02.html  12.8
15    2016-17     TOT  /players/b/bogutan01.html   9.3
28    2015-16     TOT  /players/h/holidju01.html   9.4
33    2018-19     TOT  /players/h/holidju01.html  10.0
38    2021-22     TOT  /players/h/holidju01.html   9.5
...       ...     ...                        ...   ...
5036  2021-22     TOT    /players/k/keybr01.html  13.7
5054  2021-22     TOT  /players/b/brownch05.html   6.4
5058  2021-22     TOT   /players/h/hillma01.html  12.7
5077  2021-22     TOT  /players/j/johnske07.html   8.7
5085  2021-22     TOT  /players/m/mccluma01.html   5.2

[556 rows x 4 columns]

In [ ]:
# 2a. Write a function to get individual team pers and games palyers of team TOT 

# need to scrape from tathead .com using the players dir from player dir 
    # ex. /players/b/barneha02.html -> https://stathead.com/basketball/player-game-finder.cgi?player_id=barneha02
    
#then use updated per data to add dates players were on a team.